

.features-section {
  width: 100%;
  padding: 12rem 2rem;
  border-bottom: 1px solid black;
  background-color: var(--feature-bg);
}

.heading{
  height: auto;
  width: 100%;
  text-align: center;
  
}

.heading h1{

  color: var(--feature-title);
  font-size: 2rem;
  margin-bottom: 1rem;
  
  
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
  padding: 0 3rem; /* 48px left/right */
}
