.footer {
  box-shadow: var(--box-shadow);
  background-color: var(--background-color);
  color: var(--color);
  padding: 2rem 1rem;
  font-size: 1rem;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: black;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.4rem;
}

.footer-section a {
  color: var(--color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: var(--color)
}

.footer-bottom {
  border-top: 1px solid #374151;
  text-align: center;
  padding-top: 1rem;
  font-size: 0.85rem;
  color: var(--color)
}
